$bp: (
  mobile: 480px,
  tablet: 768px,
  desktop: 1440px,
);

@mixin query($screen) {
  @each $key, $value in $bp {
    @if ($screen == $key) {
      @media (max-width: $value) {
        @content;
      }
    }
  }
}

// @include query(mobile) {

// }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  body {
    font-family: sans-serif;
    font-size: 30px;
  }
}

[class^="box-"] {
  display: grid;
  place-items: center;
  border: 3px solid red;
}

// .container {
//   display: grid;
//   height: 100vh;
//   grid-template-rows: auto 1fr auto;
//   gap: 10px;
// }

.container {
  display: grid;
  height: 100vh;
  //   grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "header header header header"
    "main main main aside"
    "main main main aside";
  gap: 10px;
}

.box-1 {
  grid-area: header;
}
.box-2 {
  grid-area: main;
}
.box-3 {
  grid-area: aside;
}

@include query(mobile) {
  .container {
    grid-template:
      "header" 10%
      "main" 80%
      "aside" 10%;
  }
}
